@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  display: grid;
  grid-template-columns: 256px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 
  "nav header",
  "nav main";
}

